body {
  font-family: "Montserrat", sans-serif; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

.container {
  padding: 0 15px; }

header {
  padding-top: 65px;
  background-color: #eff0f2; }

h2 {
  font-weight: 700;
  font-size: 38px;
  padding: 0;
  margin: 0; }

h3 {
  color: #3e3f3f;
  font-weight: 700;
  font-size: 20px;
  font-family: "Merriweather", serif;
  text-transform: uppercase; }

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu {
  width: 30px;
  height: 20px;
  position: relative; }
  .menu span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: gray;
    position: absolute; }

.top {
  top: 0px; }

.middle {
  top: 8px; }

.bottom {
  bottom: 0px; }

.promo_section {
  padding: 190px 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: #eff0f2; }
  .promo_section span {
    background-color: #b2f2ee;
    padding: 0 7px; }

.promo_section_text {
  font-size: 45px;
  font-weight: 700;
  color: #505050;
  text-shadow: 4px 7px 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 150px; }
  .promo_section_text h1 {
    font-size: 45px;
    margin: 0;
    padding: 0; }
  .promo_section_text p {
    margin: 0;
    padding: 0; }

.promo_section_button a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #3c3c3d;
  border: 2px solid #777879;
  border-radius: 1px;
  padding: 13px 50px; }

.promo_section_img {
  position: absolute;
  right: 30px;
  top: 450px; }

@media screen and (max-width: 754px) {
  .promo_section_img {
    top: 550px; } }
.heading {
  text-align: center;
  margin-top: 120px; }
  .heading p {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #5e5f5f;
    padding: 0;
    margin: 0; }

.about_section_content {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  flex-wrap: wrap; }

.about_section_text {
  width: 40%; }
  .about_section_text p {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 1.5; }

.about_section_img img {
  width: 100%; }

@media only screen and (max-width: 754px) {
  .about_section_text {
    width: 100%;
    text-align: center; } }
.works_section_list {
  margin: 125px 0;
  flex-wrap: wrap; }
  .works_section_list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap; }
  .works_section_list li {
    padding: 0 3px 12px 3px; }

.works_section_list_1 img {
  width: 100%; }

.quote_section_content {
  display: flex;
  margin: 135px 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }
  .quote_section_content figure {
    background-color: #eaebed;
    padding: 100px 0 70px 0;
    width: 100%;
    margin: 0 auto; }
  .quote_section_content figcaption {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 20px; }
  .quote_section_content span {
    font-weight: 400;
    font-size: 15px;
    color: #878788; }
  .quote_section_content img {
    margin-top: -50px; }

.quote_section_img img {
  width: 100%; }

.quote_section_blockquote {
  text-align: center; }
  .quote_section_blockquote blockquote {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 30px 0; }

.quote_section_arrow {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  .quote_section_arrow img {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 20px 40px 0 1px; }
    .quote_section_arrow img:last-of-type {
      background-color: #71f6eb; }

@media screen and (max-width: 754px) {
  .quote_section_blockquote blockquote {
    width: 100%; }
  .quote_section_blockquote figure {
    width: 100%; }

  .quote_section_arrow {
    justify-content: center; }
    .quote_section_arrow img {
      margin-right: 0; }
      .quote_section_arrow img:last-of-type {
        margin-left: 20px; } }

/*# sourceMappingURL=styles.css.map */
